.newsitem {margin-bottom: 5px; border: 1px solid #cccccc;}
table.newstable {width: 100%;  font: 10pt normal Verdana, Helvetica, sans-serif;}
td.newsitem{margin-bottom: 10px;} 
.newsdate{color:#DD0000; float:left; font-weight:normal; width:auto;}
.newstitle{font-weight: bold; text-align: center; width:100%;}
td.newsheadline{text-align: justify; width:90%;}
td.newsobject{padding-right: 5px; width:10%;}
div.newsmore{width: 100%; text-align: right;}
a.link{text-decoration: none;}
span.more{color: #0000dd}
.hide_news {width:16px; height:16px; background-image: url('../images/stop.png'); cursor:pointer; display:inline-block;}
.show_news {width:16px; height:16px; background-image: url('../images/show.png'); cursor:pointer; display:inline-block;}
.delete_news {width:16px; height:16px; background-image: url('../images/cross.png'); cursor:pointer; display:inline-block;}