table.tabled  {
border-collapse:collapse;
}

table.tabled {
border: 1px solid black;
}

table.tabled th {
border: 1px solid black;
background-color: #4E4E4E;
font-size: 10pt;
font-weight: bold;
color: #ffffff;
}

table.tabled td {
border: 1px solid black;
}

table.tabled td.odd {
background-color: #cccccc;
}
